<div class="overlay"></div>

<div class="popup-sign popup">
    <div class="popup_close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z"/></svg>
    </div>
    <form action="/" id="my-form">
        <div class="popup__title">
                Войти
        </div>

        <input type="text" name="email" placeholder="Логин" class="m-field-popup">

        <input type="text" name="password" placeholder="Пароль" class="m-field-popup">

        <button class="m-button-1 popup__submit">Войти</button>

        <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-reg-open" data-popupBlock="popup-reg">
                Регистрация
        </a>

    </form>
</div>

<div class="popup-reg popup">
    <div class="popup_close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z"/></svg>
    </div>

    <form action="/" id="my-form-2">
        <div class="popup__title">
                Регистрация
        </div>
        
        <input type="text" name="email" placeholder="E- mail" class="m-field-popup">

        <input type="text" name="password" placeholder="Придумайте пароль" class="m-field-popup">

        <input type="text" name="passwordYet" placeholder="Повторите пароль" class="m-field-popup">
        
        <button class="m-button-1 popup__submit">регистрация</button>
    </form>

    <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-sign-open">
        Войти
    </a>
</div>

{{> already/already}}

<div class="popup modal-news">
    <div class="popup_close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z"/></svg>
    </div>

    <form action="/" id="form-news">
        <div class="popup__title">
            предложить новость
        </div>
        
        <input type="text" name="url" placeholder="ссылка" class="m-field-popup">
        <input type="text" name="email" placeholder="e-mail" class="m-field-popup">
        
        <!-- <div class="form__inputfile">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file"> <span>Выберите файл: .docx, .docm</span> </label>
        </div>   -->
        <button class="m-button-1 popup__submit">Отправить</button>
        <div class="thanx">
            <div class="m-title">
                Спасибо что оставили заявку!
            </div>
            <div class="m-desc">
                Ваше предложение рассмотрится в ближайшее время.
            </div>
        </div>
    </form>
</div>

<div class="period">
    <div class="popup_close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z"/></svg>
    </div>

    <form action="/" class="my-form">
        <div class="popup__title">
            купить пробный период
        </div>

        <div class="rate">
            <div class="rate__item">
                <div class="rate__right">
                    <div class="rate__title">
                         Ознакомительный
                    </div>

                    <div class="rate__desc">
                         Подписка на три дня
                    </div>

                    <div class="rate__price">
                         100 руб.
                    </div>

                    <label>
                        <input type="radio" name="radio-rate" checked>
                        <div></div>
                        <p>Подписка на месяц</p>
                    </label>

                </div>
            </div>

            <div class="rate__item">
                <div class="rate__right">
                    <div class="rate__title">
                         Оптимальный
                    </div>
            
                    <div class="rate__desc">
                         Подписка на месяц
                    </div>
            
                    <div class="rate__price">
                         300 руб.
                    </div>
            
                    <label>
                        <input type="radio" name="radio-rate">
                        <div></div>
                        <p>Подписка на месяц</p>
                    </label>
            
                </div>
            </div>

            <div class="rate__item">
                <div class="rate__right">
                    <div class="rate__title">
                         Профессиональный
                    </div>
            
                    <div class="rate__desc">
                         Подписка на месяц
                    </div>
            
                    <div class="rate__price">
                         2 500 руб.
                    </div>
            
                    <label>
                        <input type="radio" name="radio-rate">
                        <div></div>
                        <p>Подписка на месяц</p>
                    </label>
            
                </div>
            </div>
        </div>
        
        <input type="text" name="email" placeholder="e-mail" class="m-field-popup">
        
        <!-- <div class="form__inputfile">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file"> <span>Выберите файл: .docx, .docm</span> </label>
        </div>   -->
        <button class="m-button-1 popup__submit">Отправить</button>
    </form>
</div>