<div class="popup already">
    <div class="popup_close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9"><path d="M14.1 11.3c-.2-.2-.2-.5 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3c-.2-.2-.5-.3-.7-.3-.3 0-.5.1-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z"/></svg>
    </div>

    <form action="/" class="form-already">
        <div class="popup__title">
            Подтверждение
        </div>
        
        <input type="text" name="url" placeholder="ссылка на ваше портфолио" class="m-field-popup">

        <div class="no-portfolio">
            портфолио не существует
        </div>
        
        <button class="m-button-1 popup__submit">подтвердить</button>
    </form>

    <form action="/" class="form-desc">
        <div class="form-desc-container">
            <div class="popup__desc">
                ваш код для подтверждения: 
            </div>
            
            <div class="already-code">
                f6ds8f67d8saf7s
            </div>
    
            <a class="m-button-1 copy-button popup__submit">скопировать код</a>
    
            <div class="popup__desc">
                Вы должны вставить данный код
            </div>
    
            <img src="http://via.placeholder.com/320x100" alt="">
            
            <button  class="m-button-1">Я вставил код</button>
        </div>
    </form>

    <input type="hidden" class="portURl"> 
    
</div>