<div class="footer">
    <div class="wrapper">

        <div class="footer__top">

            <div class="header__bottom-left">
                <div class="logo">
                    <div class="microstock">
                        Microstockstar
                    </div>
                    <div class="microstock__desc">
                        Рейтинг стоковых изображений
                    </div>
                </div>
            </div>

            <div class="header-menu footer-menu">
                <a href="#" class="header-menu__link">Топ портфелей</a>
                <a href="#" class="header-menu__link">Топ 100 работ</a>
                <a href="#" class="header-menu__link">FAQ</a>
                <a href="#" class="header-menu__link">Контакты</a>
            </div>

            <div class="contact-mail">
                <a href="mail:contact2018@mail.ru" class="contact-mail__link contact-mail__link-footer" target="_blank">

                    <svg class="icon__mail-icon" width="17px" height="16px">
                        <use xlink:href="#mail-icon"></use>
                    </svg>

                    contact2018@mail.ru
                </a>
            </div>

            <div class="lang">
                <a href="#" class="lang__en lang__item m-button-2 active">ru</a>
                <a href="#" class="lang__ru lang__item m-button-2">en</a>
            </div>
        </div>

    </div>

    <div class="footer__bottom">
        <div class="wrapper">
            <div class="footer__user">
                <a href="#" class="m-link-min">

                                Пользовательское соглашение

                        </a>

                <div class="footer__copyrights">
                    © microstockstar 2018
                </div>

            </div>

            <div class="footer__markello">
                Создание сайта -
                <a href="http://markello.ru" target="_blank" class="m-link link-markello">

                    Markello

                </a>
            </div>
        </div>

    </div>

</div>


<div class="overlay"></div>

<div class="modal popup-sign popup">
    <div class="popup_close">
    </div>
    <form action="/" id="my-form">
        <div class="popup__title">
                Войти
        </div>
        
        <input type="text" name="email" placeholder="Логин" class="m-field-popup">
        
        <input type="password" name="password" placeholder="Пароль" class="m-field-popup">
        <button class="m-button-1 popup__submit">Войти</button>

        <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-reg-open" data-popupBlock="popup-reg">
                Регистрация
        </a>
    </form>
</div>

<div class="popup-reg popup">
    <div class="popup_close">
    </div>

    <form action="/" id="my-form-2">
        <div class="popup__title">
                Регистрация
        </div>
        
        <input type="text" name="email" placeholder="E- mail" class="m-field-popup">
        
        <input type="password" name="password" placeholder="Придумайте пароль" class="m-field-popup">
        
        <input type="password" name="passwordYet" placeholder="Повторите пароль" class="m-field-popup">
        
        <button class="m-button-1 popup__submit">регистрация</button>
    </form>

    <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-sign-open">
            Войти
    </a>
</div>
