<div class="footer">
    <div class="wrapper">

        <div class="footer__top">

            <div class="header__bottom-left">
                <div class="logo">
                    <div class="microstock">
                        Microstockstar
                    </div>
                    <div class="microstock__desc">
                        Рейтинг стоковых изображений
                    </div>
                </div>
            </div>

            <div class="header-menu footer-menu">
                <a href="#" class="header-menu__link">Топ портфелей</a>
                <a href="#" class="header-menu__link">Топ 100 работ</a>
                <a href="#" class="header-menu__link">FAQ</a>
                <a href="#" class="header-menu__link">Контакты</a>
            </div>

            <div class="contact-mail">
                <a href="mail:contact2018@mail.ru" class="contact-mail__link contact-mail__link-footer" target="_blank">

                    <svg class="icon__mail-icon" width="17px" height="16px">
                        <use xlink:href="#mail-icon"></use>
                    </svg>

                    contact2018@mail.ru
                </a>
            </div>

            <div class="lang">
                <a href="#" class="lang__en lang__item m-button-2 active">ru</a>
                <a href="#" class="lang__ru lang__item m-button-2">en</a>
            </div>
        </div>

    </div>

    <div class="footer__bottom">
        <div class="wrapper">
            <div class="footer__user">
                <a href="#" class="m-link-min">

                                Пользовательское соглашение

                        </a>

                <div class="footer__copyrights">
                    © microstockstar 2018
                </div>

            </div>

            <div class="footer__markello">
                Создание сайта -
                <a href="http://markello.ru" target="_blank" class="m-link link-markello">

                    Markello

                </a>
            </div>
        </div>

    </div>

</div>