<div class="reviews__item wow fadeInUp">
    <div class="reviews__item-content">
        Когда дело доходит до анализа обратной линии, Ahrefs является моим # 1 инструментом. Я тестировал более 25 инструментов анализа ссылок, и ни один из них не приближается к Ahrefs с точки зрения размера индекса, свежести и общего удобства использования. 
    </div>

    <div class="reviews__item-bottom">
        <div class="reviews__item-left">
            <div class="reviews__img-cont m-img-cont">
                <img src="http://via.placeholder.com/100x100" alt="">
            </div>
        </div>
        <div class="reviews__item-right">
            <div class="reviews__item-title">
                Viktoria Kurpas
            </div>
            <div class="reviews__item-desc">
                основатель Backlinko
            </div>
        </div>
    </div>
</div>
