<div class="overlay"></div>
<div class="header-container">
    <header class="header">
        <div class="wrapper">
            <div class="header-menu">
                <div class="popup_close">
                </div>
                <a href="top-portfolio.html" class="header-menu__link">Топ портфелей</a>
                <a href="top-hundred.html" class="header-menu__link">Топ 100 работ</a>
                <a href="rate.html" class="header-menu__link">Тарифы</a>
                <a href="#" class="header-menu__link">Новости</a>
                <a href="faq.html" class="header-menu__link">FAQ</a>
                <a href="contacts.html" class="header-menu__link">Контакты</a>
            </div>

            <div class="menu-open">
                <span></span>
                <span></span>
                <span></span>
            </div>
    
            <div class="contact-mail">
                <img src="../static/img/content/mail.png" alt="">
                <a href="mail:contact2018@mail.ru" class="contact-mail__link" target="_blank">
                    contact2018@mail.ru
                </a>
            </div>

            <div class="lang">
                <a href="#" class="lang__en lang__item m-button-2 active">ru</a>
                <a href="#" class="lang__ru lang__item m-button-2">en</a>
            </div>
            <a href="popup.html" class="m-button-2 modal-open button-sign callPopup " data-popupBlock="popup-sign">Войти</a>


            <div class="modal popup-sign popup">
                <div class="popup_close">
                </div>
                <form action="/" id="my-form">
                    <div class="popup__title">
                         Войти
                    </div>
                    
                    
                    <input type="text" name="email" placeholder="Логин" class="m-field-popup">
                    
                    <input type="password" name="password" placeholder="Пароль" class="m-field-popup">
                    <button class="m-button-1 popup__submit">Войти</button>
    
                    <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-reg-open" data-popupBlock="popup-reg">
                         Регистрация
                    </a>
                </form>
            </div>

            <div class="popup-reg popup">
                <div class="popup_close">
                </div>

                <form action="/" id="my-form-2">
                    <div class="popup__title">
                         Регистрация
                    </div>
                
                    
                    <input type="text" name="email" placeholder="E- mail" class="m-field-popup">
                    
                    <input type="password" name="password" placeholder="Придумайте пароль" class="m-field-popup">
                    
                    <input type="password" name="password" placeholder="Повторите пароль" class="m-field-popup">
                    
                    <button class="m-button-1 popup__submit">регистрация</button>
                </form>

                <a href="popup/popup-2.html" class="m-link popup__link  callPopup popup-sign-open">
                     Войти
                </a>
            </div>
        </div>
    </header>

    <div class="header__bottom">
        <div class="wrapper">
            <div class="header__bottom-left">
                <div class="microstock">
                    Microstockstar
                </div>
                <div class="microstock__desc">
                    Рейтинг стоковых
                    изображений
                </div>
            </div>
            <div class="header__bottom-right">
                <div class="search">
                    <input type="text" class="search__field m-field" placeholder="ПОИСК СТОКОВЫХ ИЗОБРАЖЕНИЙ">
                    <a href="#" class="m-button-1">
                        НАЙТИ
                    </a>
                </div> 
            </div>
        </div>
    </div>
</div>