<div class="sidebar__item">
        <div class="m-title-3-light">Последние новости</div>
        <div class="sidebar__new-item">
            <div class="sidebar__min">
                12.09.2018
            </div>

            <div class="sidebar__new-desc">
                    Подборка новых видео
                    по иллюстратору
            </div>
        </div>

        <hr>

        <div class="sidebar__new-item">
            <div class="sidebar__min">
                12.09.2018
            </div>

            <div class="sidebar__new-desc">
                    Подборка новых видео
                    по иллюстратору
            </div>
        </div>

        <hr>

        <div class="sidebar__new-item">
            <div class="sidebar__min">
                12.09.2018
            </div>

            <div class="sidebar__new-desc">
                    Подборка новых видео
                    по иллюстратору
            </div>
        </div>

        <hr>

        <div class="sidebar__new-item">
            <div class="sidebar__min">
                12.09.2018
            </div>

            <div class="sidebar__new-desc">
                Подборка новых видео
                по иллюстратору
            </div>
        </div>

        <hr>

        <div class="capt-link-cont">
            <a href="#" class="m-link capt-link">
                Архив новостей
            </a>
        </div>

    </div>