<div class="sidebar__item">
    <div class="m-title-3-light sidebar__title">SHUTTERSTOCK STATS</div>

    <div class="sidebar__all">
            Всего контента: <span> 456 785 567 </span>
    </div>

    <div class="info-per">
        <div class="info-per-left">
            Фотографий: <span>231 765</span>
        </div>

        <div class="info-per-right">
            (+ <span> 132 </span> за неделю)
        </div>

    </div> 

    <div class="info-per">
        <div class="info-per-left">
            Векторов: <span>761 765</span>
        </div>

        <div class="info-per-right">
            (+ <span> 132 </span> за неделю)
        </div>

    </div> 

    <div class="info-per">
        <div class="info-per-left">
                Видео: <span>761 765</span>
        </div>

        <div class="info-per-right">
            (+ <span> 132 </span> за неделю)
        </div>

    </div> 

    <div class="info-per">
        <div class="info-per-left">
            Музыки: <span>761 765</span>
        </div>

        <div class="info-per-right">
            (+ <span> 132 </span> за неделю)
        </div>

    </div> 

    <hr>

    <div class="capt-link-cont">
        <a href="#" class="m-link capt-link">
                УЗНАТЬ ПОДРОБНЕЕ
        </a>
    </div>
</div>