<div class="sidebar__item">
    <div class="m-title-3-light  sidebar__title">
        Россия <img src="static/img/content/russia.png" alt="">
        <img src="http://shutterstock.markello.info/uploads/06/0e/madein.jpg" alt="">
    </div>

    <div class="sidebar-holiday-item">
        <hr>

        <div class="sidebar__playday">
            <div class="sidebar__min">4 ноября</div>
            <a href="#" class="sidebar__name">
                ДЕНЬ НАРОДНОГО ЕДИНСТВА
            </a>
        </div>
    </div>

</div>