<div class="sidebar__item sidebar__item-authors">
    <div class="m-title-3-light sidebar__title">Другие авторы</div>

        

        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
    
                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>
    
                </div>
                
            </div>

            <div class="place">1300000002 место</div>
        </div>

        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>

                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>

                </div>
                
            </div>

            <div class="place">132 место</div>
        </div>

        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
    
                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>
    
                </div>
                
            </div>

            <div class="place">132 место</div>
        </div>
        
        <hr>


        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
    
                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>
    
                </div>
                
            </div>

            <div class="place">132 место</div>
        </div>
        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
    
                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>
    
                </div>
                
            </div>

            <div class="place">132 место</div>
        </div>
        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">

                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
                
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
    
                    <div class="info-per-left">
                            Рейтинг:   <span>456</span>
                    </div>
    
                </div>
                
            </div>

            <div class="place">132 место</div>
        </div>

        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">
        
                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
        
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
        
                    <div class="info-per-left">
                        Рейтинг:
                        <span>456</span>
                    </div>
        
                </div>
        
            </div>
        
            <div class="place">132 место</div>
        </div>
        
        <hr>

        <div class="sidebar-profile-cont">
            <div class="profile__top">
        
                <a href="#" class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </a>
        
                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>
        
                    <div class="info-per-left">
                        Рейтинг:
                        <span>456</span>
                    </div>
        
                </div>
        
            </div>
        
            <div class="place">132 место</div>
        </div>
        
        <hr>

        <div class="capt-link-cont">
            <a href="#" class="m-link capt-link">
                    Смотреть больше
            </a>
        </div>
</div>