<div class="top__item">

    <div class="profile">

        <div class="profile__left">

            <div class="profile__top">

                <div class="profile__img-cont">
                    <img src="static/img/content/person-1.jpg" alt="">
                </div>

                <div class="profile__rating">
                    <a href="#" class="m-link profile__title ">
                        Viktoria Kurpas
                    </a>

                    <div class="info-per-left">
                        Рейтинг: <span>456</span>
                    </div>

                    <div class="profile__per">
                        <div class="info-per-right">
                             +156 за 4 нед
                        </div>
        
                        <div class="info-per-right">
                            (+9.76 за день)
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile__caption">
                <div class="info-per-left">
                    В топе: <span>956-2%</span>
                </div>

                <div class="info-per-left">
                    В топе: <span>956-2%</span>
                </div>
            </div>

            <div class="profile__per">
                <div class="info-per-right">
                    Добавлено: +156 работ за 4 нед
                </div>

                <div class="info-per-right">
                    (+9.76 за день)
                </div>
            </div>

            <div class="profile__bottom">
                <div class="place">1000 место</div>
                <a href="#" class="m-button-1 work-preview__button-2">Смотреть на shutterstock</a>
            </div>

        </div>
    </div>

    <div class="top__right">
        <div class="person-item top-person-item">
            <a href="#" class="person-item__top" style="background-image: url(static/img/content/works-img-1.jpg);">
                <img src="static/img/content/works-img-1.jpg" alt="">
            </a>

            <div class="person-item__bottom">
                <div class="per-week">
                    +15143 за неделю
                </div>
            </div>
        </div>

        <div class="person-item top-person-item">
            <a href="#" class="person-item__top" style="background-image: url(static/img/content/works-img-2.jpg);">
                <img src="static/img/content/works-img-2.jpg" alt="">
            </a>

            <div class="person-item__bottom">
                <div class="per-week">
                    +15143 за неделю
                </div>
            </div>
        </div>

        <div class="person-item top-person-item">
            <a href="#" class="person-item__top" style="background-image: url(static/img/content/works-img-3.jpg);">
                <img src="static/img/content/works-img-3.jpg" alt="">
            </a>

            <div class="person-item__bottom">
                <div class="per-week">
                    +15143 за неделю
                </div>
            </div>
        </div>

        <div class="person-item top-person-item">
            <a href="#" class="person-item__top" style="background-image: url(static/img/content/works-img-4.jpg);">
                <img src="static/img/content/works-img-4.jpg" alt="">
            </a>

            <div class="person-item__bottom">
                <div class="per-week">
                    +15143 за неделю
                </div>
            </div>
        </div>
    </div>
</div>